/* * = todos os elementos da pag */

/* reseta valores de margin e padding facilitando os ajustes*/

/* 
box-sizing: border-box; organiza os elementos filho para caberem dentro do elemento pai, sem ultrapassar  
isso ajuda a ter controle dos elementos na página

em teoria não devemos deixar o filho sair do limite de pai
*/

/* 
para usar o flex box
O pai sempre deve ser display flex (chamado tbm de flex container) para que seus filhos sejam organizados em flexbox
Ele pega todosos elementos filhos e alinha na horizontal por padrão
*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    /* definir a altura em 100% do viewport height para pegar toda a tela */
    height: 100vh;
    background-color: #000000;
    color: #F6F6F6;
    /* box-sizing vai ser aplicado no elemento pai, para que os filhos sejam afetados */
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    /* faz os filhos ficarem em linha */
    display: flex;
    /* alinha os itens filhos ao centro de acordo com os tamanhos dos filhos
    como a imagem tem os maiores pontos, os demais são alinhados ao centro da imagem filha
    */
    align-items: center;
    flex-direction: row;
    /* Gera responsividade nos elemtnos para serem ajustados conforme a tela aumenta ou diminui o zoom */
    flex-wrap: wrap;
    /* separa os itens igualmente na tela */
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao__conteudo {
    /* limite vertical do container */
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__link {
    background-color: #22D4FD;
    text-decoration: none;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}